name: "test"
env:
    DB_USER: db_user
    DB_PASSWORD: db_password
    DB_DB: db_name
    DB_PORT: 5432
    DB_HOST: localhost
    NODE_ENV: test
on:
    push:
        branches:
           - main
           - fix*
           - feature*

jobs:
    test:
        name: test
        runs-on: ubuntu-latest
        steps:
              - uses: actions/checkout@v2
              - uses: actions/setup-node@v1
                with:
                  node-version: 14.6.0
                  registry-url: https://registry.npmjs.org
              - run: mv default.env .env
              - run: sed -i 's/VK_CLIENT_SECRET=/VK_CLIENT_SECRET=${{ secrets.VK_CLIENT_SECRET }}/g' .env
              - run: sed -i 's/VK_SVETOSLAV_TOKEN=/VK_SVETOSLAV_TOKEN=${{ secrets.VK_SVETOSLAV_TOKEN }}/g' .env
              - run: docker-compose up -d db
              - run: docker-compose run app npm run typeorm:migration:run && npm run test
